---
import React from 'react';
import Navbar from '../components/Navbar';
import Content from '../components/Content';
// import '../style/custom.scss';
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website</title>
  </head>
  <body>
    <Navbar/>
	<Content/>
  </body>
</html>
