.content1 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 50vh; /* Full viewport height */
    box-sizing: border-box;
    padding: 20px;
}

.content1 h1 {
    text-align: center;
    margin: 0;
    font-size: 4rem;
    color: rgb(2, 2, 22);
    font-weight: 600;
}

/* Responsive design for mobile devices */
@media (max-width: 600px) {
    .content1 {
        padding: 10px;
        height: 20vh;
    }

    .content1 h1 {
        font-size: 2.1rem;
    }
}
.containery {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.photo-containery {
    flex: 1;
    text-align: center;
    position: relative;
}
.photo-containery img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius:14px;
}
.button-containery {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}
.button-containery button {
    background-color: rgb(231, 48, 48);
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
}
.info-container {
    flex: 1;
    padding: 20px;
}
.info-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1.4rem;
}
.info-row h1{
    font-size: 3rem;
}
.info-row img {
    margin-right: 10px;
    background-color: blue;
    height: 7vh;
    border-radius:5px;
}
@media (max-width: 768px) {
    .containery {
        flex-direction: column;
        align-items: flex-start;
    }
    /* .button-containery {
        position: static;
        width: 100%;
        justify-content: space-between;
    } */
}
.form-container {
    max-width: 95%;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.input-group {
    flex:2%;
    margin-right: 4%;
}

.input-group.full-width {
    flex: 1 1 100%;
    margin-right: 0;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size:22px;
    font-weight:600;
}

.input-group input, .input-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.input-group textarea {
    height: 200px;
    resize: none;
}

.form-row {
    display: flex;
    justify-content: flex-start;
}
.form-row button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: blue;
    color: white;
    cursor: pointer;
    height: 8vh;
    width: 12vw;
    font-weight: 600;
    /* font-family: lexend; */
   border-radius: 0 12px 0 12px;
}

.form-row button:hover {
    background-color:white;
    color:black;
    border: 1px solid blue;
}

.mandatory {
    color: red;
}

@media (max-width: 600px) {
    .input-group {
        flex: 1 1 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .input-group textarea {
        height: 100px;
    }
    .form-row button{
        height: 6vh;
        width: 35vw;
    }
}
