.content-div1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Align content to the left */
  width: 100%;
  height:90vh;
  background-color: #060927;
  /* padding: 120px; Optional: for additional spacing */
  padding: 360px 0 0 168px;
}

.content-div1 h1 {
  margin: 0;
  color: rgb(154, 210, 255);
  font-weight: 700;
  font-size: 85px;
  line-height: 80px;
  text-align: left; /* Align text to the left */
  font-family: "Libre Baskerville";
}

span {
  color: white;
}

.content-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  width: 100%; /* Ensure it spans the full width */
  justify-content: flex-start; /* Align items to the left */
}

.content-row button {
  margin-bottom: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 16px;
  background-color: rgb(255, 255, 255);
  font-weight: 600;
  color: rgb(0, 0, 60);
  border-color: transparent;
  box-shadow: rgba(0, 0, 60, 0.15) 0px 4px 4px 0px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-size: 19px;
  margin-right: 37px; /* Use margin-right for spacing */
  width: 270px;
  height: 9vh;
}

.content-row p {
  margin: 0;
  color:rgb(255, 255, 255);
  text-align: left; /* Align text to the left */
  font: size 15px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .content-div1 {
    height: auto;
    padding: 20px 10px;
    height: 25vh;
  }
  .content-div1 h1{
    font-size: 23px;
    line-height: 29px;
  }

  .content-row {
    margin-top: 10px;
    flex-direction: column; /* Stack items vertically on mobile */
    align-items: flex-start; /* Align items to the left */
  }

  .content-row button {
    width: 40%;
    margin-bottom: 10px;
    margin-right: 0;
    height: 75%;
    font-size: 10px;
    
  }

  .content-row p {
    width: 100%;
    display: none;
  }
}
.container-R {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #0f1239;
  height:50vh;
}
.container-R h6 {
  color: #9AD2FF;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0;
  font-weight:700;
}
.container-R h2 {
  color: white;
  margin: 20px 0 10px;
  /* font-family:Libre Baskerville,Sans-serif; */
  font-size: 30px;
  font-weight: 400;
  font-family:"Libre Baskerville",sans-serif;
  line-height:1.181818em;
}
.container-R p {
  color: #FFFFFFB3;
  margin: 0;
}
/* card css */
.container-Card {
  position: relative;
  width: 80%;
  height: 60%;
  display: flex;
  justify-content:center;
  align-items: center;
  transform: translateY(-50%);
  margin-left: 120px;
  gap:18px;
}

.cardcn {
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  width: 28%;
  height: 140px;
  margin: 0 5px; /* Reduced gap between cards */
  position: relative;
  border-radius:15px 15px 15px 15px;
  overflow: hidden; /* Ensures the arrow stays within the card */
  cursor: pointer;
}

.card-contentcn, .card-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-image {
  width: 50%; /* Adjusted to cover 50% of the card */
  padding: 0; /* Removed padding for the image container */
}

.card-image img {
  width: 100%;
  height: auto;
  border-radius: 0; /* Removed border-radius for image */
}

.card-contentcn {
  width: 50%; /* Adjusted to cover 50% of the card */
  flex-direction: column;
  text-align: left;
  padding: 20px;
}

.card-contentcn h3 {
  margin-bottom: auto;
}

.arrow {
  font-size: 24px;
  margin-top: auto;
  transition: transform 0.3s ease-in-out; /* Added transition for hover effect */
  margin-right:109px;
}

.cardcn:hover .arrow {
  transform: translateY(-10px); /* Arrow moves up on hover */
}

@media (max-width: 768px) {
  .container-Card {
    flex-direction: column;
    height: auto;
    transform: translateY(0);
    margin-left: 0; /* Centered on small screens */
  }

  .cardcn {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
  }

  .card-contentcn {
    text-align: center;
    padding: 20px;
  }

  .arrow {
    margin-top: 20px;
  }

  .card-image, .card-contentcn {
    width: 100%; /* Adjusted to full width on small screens */
  }
}

.write{
  text-align: center;
  color: #5E566A;;
}
.container-cc {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
.left-cc {
  flex: 1;
  min-width: 300px;
  margin-right: 20px;
  margin-top: -35px;
}
.left-cc h6 {
  margin: 0;
  margin: 50px 130px;
  color: #5E566A;
  font-size: 12px;
  font-weight:700;
  text-transform: uppercase;
  line-height: 15px;
  letter-spacing:1px;
}
.left-cc h2 {
  margin-top: -40px;
  margin-left: 124px;
  font-size: 25px;
  font-weight: 400;
  line-height:1.5em;
  color: #00003c;
  text-rendering: optimizeLegibility;
}
.left-cc .btn {
  display: inline-block;
  margin-top: 20px;
  width: 15vw;
  height: 8vh;
  padding: 12px;
  background-color:#00003c;;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 12px 120px;
  font-weight: 600;
  font-size: large;
}
.left-cc .btn:hover {
  background-color: #6faef3;
}
.right {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-between;
}
.right .cardcn1 {
  width: 30%;
  /* background-color: #f9f9f9; */
  margin-bottom: 20px;
  padding: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  position: relative;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align:left;
  height:38vh;
  border:none;
}
.right .cardcn1::before {
  content: '';
  width: 80%;
  height: 0.2px;
  background-color: #7c8185;
  position: absolute;
  top: 10px;
  left: 10%;
}
.right .cardcn1:hover::before {
  background-color: #7c8185;
}
.right .cardcn1 img {
  width: 20px;
  height: 20px;
  margin-top: 20px;
}
.right .cardcn1 h4 {
  margin: 10px 0;
  color:#00003C;
  font-weight:800;
  text-align:left;
  font-size: 18px;
}
.right .cardcn1 p {
  margin: 10px 0;
}
@media (max-width: 768px) {
  .right {
      flex-direction: column;
  }
  .right .cardcn1 {
      width: 100%;
  }
  .left-cc h2 {
      display: none;
  }
  .left-cc .btn {
      display: none;
  }
}
.main {
  position: relative; /* Ensure the .main div is the reference point for absolute positioning */
  text-align: center; /* Center align for better presentation */
}

.main h1 {
  font-size: 4vw; /* Font size based on viewport width */
  margin: 0;
  padding: 0.5em; /* Padding for better spacing */
  font-weight: 700;
}


.mini-photo {
  position: absolute; /* Positioning for animation */
  width: 50px; /* Adjust size as needed */
  height: auto;
  top: 50%; /* Center vertically relative to the h1 element */
  transform: translateY(-50%); /* Adjust for exact centering */
  animation: move 5s infinite alternate; /* Animation properties */
}

.mini-photo.left {
  left: 320px; /* Start outside the left boundary */
  top: 60px;
}

.mini-photo.right {
  right: 372px; /* Start outside the right boundary */
  top: 170px;
}

@keyframes move {
  from {
      transform: translateY(-50%) translateX(0);
  }
  to {
      transform: translateY(-50%) translateX(40px); /* Adjust distance as needed */
  }
}

@media (min-width: 768px) {
  .main h1 {
      font-size: 3vw; /* Adjust font size for larger screens */
  }

  .mini-photo {
      width: 70px; /* Adjust size for larger screens */
  }
}

@media (max-width: 767px) {
  .main h1 {
      font-size: 7vw; /* Adjust font size for smaller screens */
      font-weight: 700;
  }

  .mini-photo {
      width: 40px; /* Adjust size for smaller screens */
  }
}

.main1 p {
  font-size: 1rem; /* Base font size for mobile */
  padding: 1em; /* Base padding for mobile */
  line-height: 1.5; /* Readable line height */
  text-align: center; /* Center text horizontally */
  margin: 0 auto; /* Center the paragraph element itself */

  max-width: 90%; /* Make sure it doesn't stretch too wide on mobile */
  margin-left: 55vw;

  /* Responsive Typography */
  @media (min-width: 600px) {
    font-size: 1.25rem; /* Increase font size for tablets and laptops */
    max-width: 70%; /* Make sure it doesn't stretch too wide on tablets */
  }

  @media (min-width: 1024px) {
    font-size: 1.5rem; /* Further increase font size for larger screens */
    max-width: 50%; /* Make sure it doesn't stretch too wide on laptops and desktops */
  }
}
@media (max-width:768px){
  .main1 p{
    margin-left:5vw;
  }
}

/* for button css */
.button-container {
  display: flex;
  flex-direction: row; /* Default to vertical layout */
  justify-content: center;
  align-items: center;
  margin: 6px;
  font-family: lexend;
  margin-left: 51vw;
}

.responsive-button {
  background-color: #131daa;
  color: white;
  border: 1px solid blue;
  padding: 1em 2em;
  margin: 0.5em 5px;
  cursor: pointer;
  border-radius: 0px 15px 0px 15px;
  font-weight: 600;
  height: 60px;
  transition: background-color 0.5s linear;
}

.responsive-button:hover {
  background-color: transparent;
  border: 1px solid blue;
  /* background-color: transparent; */
  color: black;
}

@media (max-width: 600px) {
  .button-container {
    flex-direction: row;
/* Switch to horizontal layout on mobile */
     margin-left: 0vw;
  }

  .responsive-button {
    margin: 0 0.5em; /* Adjust margin for horizontal layout */
    height: 66px;
    font-family: lexend;
  }
}
.responsive-button1 {
  background-color: white;
  color: black;
  border: 1px solid blue;
  padding: 1em 2em;
  margin: 0.5em 5px;
  cursor: pointer;
  border-radius: 0px 15px 0px 15px;
  font-weight: 600;
  height: 60px;
  transition: background-color 0.5s linear;
}

.responsive-button1:hover {
  background-color: #131daa;
  border: 1px solid blue;
  /* background-color: transparent; */
  color: white;
}

@media (max-width: 600px) {
  .button-container {
    flex-direction: row; /* Switch to horizontal layout on mobile */
  }

  .responsive-button1 {
    margin: 0 0.5em; /* Adjust margin for horizontal layout */
  }
}
/* for image css */
.container {
  width: 100%;
  max-width: 100%; /* Adjust this value based on your design */
  margin: auto;
}

.responsive-image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px; /* Optional: Add some border radius for rounded corners */
  /* margin:0 -19px; */
  margin-top: -214px;
}

/* Media Queries */
@media (max-width: 768px) {
  .container {
    width: 100%;
  }

  .responsive-image {
    border-radius: 0;
    margin-top: 0px;
    width: 108%; /* Optional: Remove border radius on smaller screens */
    margin: 0 -12px;
  }
}
.Content h1 {
  font-size: 4vw; /* Font size based on viewport width */
  margin: 0;
  padding: 0.5em; /* Padding for better spacing */
  text-align: center; /* Center align for better presentation */
}

.write-content {
  background-color: white;
}

.Content1 p {
  font-size: 1rem; /* Base font size for mobile */
  padding: 1em; /* Base padding for mobile */
  line-height: 1.5; /* Readable line height */
  text-align: center; /* Center text horizontally */
  margin: 0 auto; /* Center the paragraph element itself */

  max-width: 90%; /* Make sure it doesn't stretch too wide on mobile */

  /* Responsive Typography */
  @media (min-width: 600px) {
    font-size: 125rem; /* Increase font size for tablets and laptops */
    max-width: 70%; /* Make sure it doesn't stretch too wide on tablets */
  }

  @media (min-width: 1024px) {
    font-size: 1.5rem; /* Further increase font size for larger screens */
    max-width: 50%; /* Make sure it doesn't stretch too wide on laptops and desktops */
  }
}

/* logo rows running css */
.logo-row {
  overflow: hidden;
  width: 100%;
  margin: 20px 0;
}

.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(200% + 40px); /* Adjust based on the number of logos and their widths */
  animation: scroll 20s linear infinite;
}

.logos img {
  width: 100px; /* Adjust as needed */
  height: auto;
  margin: 0 20px; /* Adjust as needed */
}

@keyframes scroll {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-50%, 0, 0);
  }
}


/* three circular photos and container css */

.container1 {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.content2 {
  text-align: center;
  margin-bottom: 20px;
}
.content2 h2 {
  font-size: 3vw; /* Font size based on viewport width */
  margin: 0;
  padding: 0.5em; /* Padding for better spacing */
  text-align: center; /* Center align for better presentation */
  color: darkblue;
}
.invest {
  background-color: rgb(241, 153, 153);
}
.finance {
  background-color: chartreuse;
}
.span {
  background-color: aqua;
}

.photo-gallery {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.photo {
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  transition: transform 1s;
}

#photo1 {
  background-image: url("https://icon-library.com/images/rotation-icon/rotation-icon-17.jpg");
  /* margin:120px; */
}

#photo2 {
  background-image: url("https://icon-library.com/images/rotation-icon/rotation-icon-17.jpg");
  /* margin:120px; */
}

#photo3 {
  background-image: url("https://icon-library.com/images/rotation-icon/rotation-icon-17.jpg");
  /* margin:120px; */
}

@keyframes rotatePhotos {
  0%,
  100% {
    transform: translate(0, 0);
  }
  33% {
    transform: translate(100px, 0);
  }
  66% {
    transform: translate(50px, 86px);
  }
}

.photo:nth-child(1) {
  animation: rotatePhotos 6s infinite;
}

.photo:nth-child(2) {
  animation: rotatePhotos 6s infinite 2s;
}

.photo:nth-child(3) {
  animation: rotatePhotos 6s infinite 4s;
}

@media (min-width: 768px) {
  .container1 {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .content2 {
    flex: 1;
    text-align: left;
  }

  .photo-gallery {
    flex: 1;
    width: 400px;
    height: 400px;
  }

  .photo {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 768px) {
  .photo-gallery {
    margin: 0 0 0 -110px;
  }
  .content2 h2{
    font-size: 5vw;
  }
}

/* stepwise and photos css */


/* box css */
.container3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.box1,
.box2 {
  flex: 1 1 45%;
  margin: 10px;
  padding: 20px;
  /* border: 1px solid #ddd; */
  border-radius: 4px;
}
.box1 h1 {
  font-size: 3.7rem;
  color: rgb(2, 2, 30);
}
.box2 p {
  font-size: 1.3rem;
  color: #454a61;
}

/* For laptops and desktops */
@media (min-width: 768px) {
  .container3 {
    flex-wrap: nowrap;
  }

  .box1,
  .box2 {
    flex: 1;
  }
}

/* For mobile devices */
@media (max-width: 767px) {
  .box1,
  .box2 {
    flex: 1 1 100%;
  }
}

/* for bx css */
.container5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.bx1,
.bx2 {
  flex: 1 1 45%;
  margin: 10px;
  padding: 20px;
  /* border: 1px solid #ddd; */
  border-radius: 4px;
}
.bx1 h1 {
  font-size: 3.7rem;
  color: rgb(2, 2, 30);
}
.bx2 p {
  font-size: 1.3rem;
  color: #454a61;
}

/* For laptops and desktops */
@media (min-width: 768px) {
  .container5 {
    flex-wrap: nowrap;
  }

  .bx1,
  .bx2 {
    flex: 1;
  }
}

/* For mobile devices */
@media (max-width: 767px) {
  .bx1,
  .bx2 {
    flex: 1 1 100%;
  }
}
/* card css */
/* .card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.card {
  background-color: #f7fad9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
  text-align: center;
  position: relative;
  width: 100%;
}

.card img {
  width: 100%;
  height: auto;
}

.card h2 {
  margin: 16px 0;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(251, 198, 198, 0.2);
  background-color: #e0f7fa;
  border: 1px solid black;
}

/* Media query for mobile devices */
/* @media (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;
  }
} */ 
/* line continue looping css */
.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  background-color: #f7fad9;
}

.marquee-content {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 50s linear infinite;
}

.marquee-content span {
  display: inline-block;
  white-space: nowrap;
  color: #080a2f;
  /* font-size: 55rem; */
}
.marquee-content span h2{
  font-size: 5rem;
}
@keyframes marquee {
  0% {
    transform: translateX(20);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* photo coin css */
.container8 {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ccc;
  overflow: hidden;
  background-color: #080a2f;
}

.upper2 {
  text-align: center;
  padding: 20px;
  background-color: #080a2f;
  color: white;
  font-size: 2.6rem;
}

.middle {
  padding: 20px;
  text-align: center;
}

.middle img {
  width: 30%;
  height: auto;
  display: block;
  margin: 0 auto 20px;
}
.mid-photo {
  background: linear-gradient(to right, #77b5ff, #af6ef8);
  border-radius: 20px 70px 20px 70px;
}

.coins {
  position: relative;
}

/* footer css */
footer {
  background-color: white;
  color: black;
  padding: 20px 0;
  text-align: center;
}

.footer-logo img {
  max-width: 150px;
  margin-bottom: 20px;
}

.footer-subscribe {
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f7fad9;
}

.subscribe-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 500;
}

.subscribe-content p {
  margin: 0;
}

.subscribe-content button {
  background-color:blue;
  color: #fff;
  border: 1px solid black;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 0px 15px 0px 15px;
  height: 60px;
  transition: background-color 0.3s ease;
  font-weight: 600;
  font-family: lexend;
}
.subscribe-content button:hover {
  background-color: transparent;
  color: black;
}

.footer-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.info-column {
  flex: 1;
  margin: 10px;
  min-width: 150px;
  font-size: 22px;
}

.info-column h4 {
  margin-bottom: 10px;
  font-weight: 650;
}

.info-column p {
  margin: 5px 0;
}

@media (max-width: 768px) {
  .subscribe-content {
    flex-direction: column;
  }

  .subscribe-content button {
    margin-top: 10px;
  }

  .footer-info {
    flex-direction: column;
  }

  .info-column {
    margin-bottom: 20px;
  }
}
.footer {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: #f1f1f1;
  border-top: 1px solid #e1e1e1;
  font-size: 17px;
  color: #555;
  font-weight: 600;
  

}