.main h1 {
    font-size: 6vw; /* Font size based on viewport width */
    margin: 0;
    padding: 0.5em; /* Padding for better spacing */
    text-align: center; /* Center align for better presentation */
    
}
@media (min-width: 768px) {
  h1 {
      font-size: 4vw;
  }
}

/* Further adjustment for very large screens */
@media (min-width: 1200px) {
  h1 {
      font-size: 3vw;
  }
}
.main1 p {
  font-size: 1rem; /* Base font size for mobile */
  padding: 1em; /* Base padding for mobile */
  line-height: 1.5; /* Readable line height */
  text-align: center; /* Center text horizontally */
  margin: 0 auto; /* Center the paragraph element itself */

  max-width: 90%; /* Make sure it doesn't stretch too wide on mobile */
  
  /* Responsive Typography */
  @media (min-width: 600px) {
      font-size: 1.25rem; /* Increase font size for tablets and laptops */
      max-width: 70%; /* Make sure it doesn't stretch too wide on tablets */
  }

  @media (min-width: 1024px) {
      font-size: 1.5rem; /* Further increase font size for larger screens */
      max-width: 50%; /* Make sure it doesn't stretch too wide on laptops and desktops */
  }
}

/* for button css */
.button-container {
  display: flex;
  flex-direction:row; /* Default to vertical layout */
  justify-content: center;
  align-items: center;
  margin: 6px;
}

.responsive-button {
  background-color:#131daa;
  color:white;
  border:1px solid blue;
  padding: 1em 2em;
  margin: 0.5em 5px;
  cursor: pointer;
  border-radius: 0px 15px 0px 15px;
  font-weight: 600;
  height: 60px;
  transition: background-color 0.5s linear;
}

.responsive-button:hover {
  background-color: transparent;
  border: 1px solid blue;
  /* background-color: transparent; */
  color:black;
}

@media (max-width: 600px) {
  .button-container {
      flex-direction: row; /* Switch to horizontal layout on mobile */
  }

  .responsive-button {
      margin: 0 0.5em; /* Adjust margin for horizontal layout */
      height: 66px;
  }
}
.responsive-button1 {
  background-color:white;
  color:black;
  border:1px solid blue;
  padding: 1em 2em;
  margin: 0.5em 5px;
  cursor: pointer;
  border-radius: 0px 15px 0px 15px;
  font-weight: 600;
  height: 60px;
  transition: background-color 0.5s linear;
}

.responsive-button1:hover {
  background-color:#131daa;
  border: 1px solid blue;
  /* background-color: transparent; */
  color:white;
}

@media (max-width: 600px) {
  .button-container {
      flex-direction: row; /* Switch to horizontal layout on mobile */
  }

  .responsive-button1 {
      margin: 0 0.5em; /* Adjust margin for horizontal layout */
  }
}
/* for image css */
.container {
  width: 100%;
  max-width:100%; /* Adjust this value based on your design */
  margin: auto;
}

.responsive-image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px; /* Optional: Add some border radius for rounded corners */
  /* margin:0 -19px; */
}

/* Media Queries */
@media (max-width: 768px) {
  .container {
      width: 100%;
  }

  .responsive-image {
      border-radius: 0; /* Optional: Remove border radius on smaller screens */
  }
}
.Content h1{
  font-size: 4vw; /* Font size based on viewport width */
  margin: 0;
  padding: 0.5em; /* Padding for better spacing */
  text-align: center; /* Center align for better presentation */
  
}

.write-content{
background-color:#f7fad9;
}


.Content1 p {
  font-size:1rem; /* Base font size for mobile */
  padding: 1em; /* Base padding for mobile */
  line-height: 1.5; /* Readable line height */
  text-align: center; /* Center text horizontally */
  margin: 0 auto; /* Center the paragraph element itself */

  max-width: 90%; /* Make sure it doesn't stretch too wide on mobile */
  
  /* Responsive Typography */
  @media (min-width: 600px) {
      font-size: 125rem; /* Increase font size for tablets and laptops */
      max-width: 70%; /* Make sure it doesn't stretch too wide on tablets */
  }

  @media (min-width: 1024px) {
      font-size: 1.5rem; /* Further increase font size for larger screens */
      max-width: 50%; /* Make sure it doesn't stretch too wide on laptops and desktops */
  }
}

/* logo rows running css */
.logo-row {
  overflow: hidden;
  width: 100%;
  margin: 20px 0;
}

.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  animation: scroll 15s linear infinite;
}

.logos img {
  width: 100px; /* Adjust as needed */
  height: auto;
  margin: 0 20px; /* Adjust as needed */
}

@keyframes scroll {
  from {
      transform: translateX(30%);
  }
  to {
      transform: translateX(-20%);
  }
}


/* three circular photos and container css */

.container1 {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.content2 {
  text-align: center;
  margin-bottom: 20px;
}
.content2 h2{
  font-size: 4vw; /* Font size based on viewport width */
  margin: 0;
  padding: 0.5em; /* Padding for better spacing */
  text-align: center; /* Center align for better presentation */
  color: darkblue;
  
}
.invest{
  background-color: rgb(241, 153, 153);
}
.finance{
  background-color: chartreuse;
}
.span{
  background-color: aqua;
}

.photo-gallery {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.photo {
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  transition: transform 1s;
}

#photo1 {
  background-image: url('https://assets-global.website-files.com/65b8d5c5e2ef493dbe7c1b86/65f2c34b59750ccb71e85a0f_Banner-Circle-1.svg');
  /* margin:120px; */
}

#photo2 {
  background-image: url('https://assets-global.website-files.com/65b8d5c5e2ef493dbe7c1b86/65f2c34b59750ccb71e85a0f_Banner-Circle-1.svg');
  /* margin:120px; */
}

#photo3 {
  background-image: url('https://assets-global.website-files.com/65b8d5c5e2ef493dbe7c1b86/65f2c34b59750ccb71e85a0f_Banner-Circle-1.svg');
  /* margin:120px; */
}

@keyframes rotatePhotos {
  0%, 100% {
      transform: translate(0, 0);
  }
  33% {
      transform: translate(100px, 0);
  }
  66% {
      transform: translate(50px, 86px);
  }
}

.photo:nth-child(1) {
  animation: rotatePhotos 6s infinite;
}

.photo:nth-child(2) {
  animation: rotatePhotos 6s infinite 2s;
}

.photo:nth-child(3) {
  animation: rotatePhotos 6s infinite 4s;
}

@media (min-width: 768px) {
  .container1 {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
  }
  
  .content2 {
      flex: 1;
      text-align: left;
  }
  
  .photo-gallery {
      flex: 1;
      width: 400px;
      height: 400px;
  }
  
  .photo {
      width: 150px;
      height: 150px;
  }
}
/* stepwise and photos css */
.containers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.step-connector {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  width: 50%;
}

.step {
  background-color:#e6670a;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px 0;
  text-align: center;
}

.connector {
  width: 2px;
  height: 40px;
  background-color: #ccc;
}

.image-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 700px;
  margin: 0 157px;
}

.slider {
  width:100%;
  display: flex;
  overflow: hidden;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
}

.slider img {
  width: 100%;
  max-width: 100%;
  transition: transform 0.5s ease-in-out;
}

.buttons-step {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0px 28px;
  height: 54px;
  font-weight:600;
}


.buttons-step button {
  padding: 10px 20px;
  background-color:#131daa;
  color: white;
  border: none;
  border-radius:0 15px 0 15px;
  cursor: pointer;
  font-weight:600;
}
.one-btn{
  width: 120px;
}

.buttons-step button:hover {
  /* background-color: #45a049;*/
  background-color: transparent;
    color:black;
    border: 1px solid blue;
}

@media (max-width: 768px) {
  .containers {
      flex-direction: column;
      align-items: center;
  }

  .step-connector {
      flex-direction:column;
      margin-bottom: 120px;
  }

  .step {
      margin: 10 10px;
  }

  .connector {
      width: 40px;
      height: 2px;
  }

  .image-slider {
      width: 80%;
      height: 50%;
  }

  .buttons-step {
      flex-direction: column;
      align-items: center;
  }

  .buttons-step button {
    margin-top: 20px;
      margin-bottom: 30px;
      height: 80px;
  }
}
/* box css */
.container3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.box1, .box2 {
  flex: 1 1 45%;
  margin: 10px;
  padding: 20px;
  /* border: 1px solid #ddd; */
  border-radius: 4px;
}
.box1 h1{
  font-size:3.7rem;
  color: rgb(2, 2, 30);
}
.box2 p{
  font-size: 1.3rem;
  color: #454a61;
}

/* For laptops and desktops */
@media (min-width: 768px) {
  .container3 {
      flex-wrap: nowrap;
  }

  .box1, .box2 {
      flex: 1;
  }
}

/* For mobile devices */
@media (max-width: 767px) {
  .box1, .box2 {
      flex: 1 1 100%;
  }
}
/* for bx css */
.container5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.bx1, .bx2 {
  flex: 1 1 45%;
  margin:10px;
  padding: 20px;
  /* border: 1px solid #ddd; */
  border-radius: 4px;
}
.bx1 h1{
  font-size:3.7rem;
  color: rgb(2, 2, 30);
}
.bx2 p{
  font-size: 1.3rem;
  color: #454a61;
}

/* For laptops and desktops */
@media (min-width: 768px) {
  .container5 {
      flex-wrap: nowrap;
  }

  .bx1, .bx2 {
      flex: 1;
  }
}

/* For mobile devices */
@media (max-width: 767px) {
  .bx1, .bx2 {
      flex: 1 1 100%;
  }
}
/* card css */
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.card {
  background-color:#f7fad9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
  text-align: center;
  position: relative;
  width: 100%;
}

.card img {
  width: 100%;
  height: auto;
}

.card h2 {
  margin: 16px 0;
}



.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #e0f7fa;
  border: 1px solid black;

}



/* Media query for mobile devices */
@media (max-width: 768px) {
  .card-container {
      grid-template-columns: 1fr;
  }
}
/* line continue looping css */
.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  background-color:#f7fad9;
}

.marquee-content {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 50s linear infinite;
}

.marquee-content span {
  display: inline-block;
  white-space: nowrap;
  color:#080a2f;
  font-size:9rem;
}


@keyframes marquee {
  0% {
      transform: translateX(20);
  }
  100% {
      transform: translateX(-100%);
  }
}
/* container6 */
.container6 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  background-color:#f7fad9;
}

.bxx1, .bxx2 {
  flex: 1 1 45%;
  margin: 10px;
  padding: 20px;
  /* border: 1px solid #ddd; */
  border-radius: 4px;
}
.bxx1 h1{
  font-size:3.7rem;
  color: rgb(2, 2, 30);
}
.bxx2 p{
  font-size: 1.3rem;
  color: #454a61;
}

/* For laptops and desktops */
@media (min-width: 768px) {
  .container6 {
      flex-wrap: nowrap;
  }

  .bxx1, .bxx2 {
      flex: 1;
  }
}

/* For mobile devices */
@media (max-width: 767px) {
  .bxx1, .bxx2 {
      flex: 1 1 100%;
  }
}
/* photo scroll css */

.photo-container {
  width: 500px;
  height: 500px;
  overflow: hidden;
  border: 2px solid #ccc;
  background-color: #fff;
  position: relative;
  margin: 30px auto;
  
}
.photo-c{
  margin: -75px;
  background-color:#f7fad9;
}

.photo-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500%;
  transition: transform 0.5s ease-in-out;
}

.photo-frame img {
  width: 100%;
  height: 20%; /* Each image takes 20% of the container's height */
  object-fit: cover;
 
}

body:active .photo-frame {
  animation: scrollPhotos 5s linear infinite;
}

@keyframes scrollPhotos {
  0% { transform: translateY(0); }
  20% { transform: translateY(-100%); }
  40% { transform: translateY(-200%); }
  60% { transform: translateY(-300%); }
  80% { transform: translateY(-400%); }
  100% { transform: translateY(-500%); }
}
/* photo coin css */
.container8 {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ccc;
  overflow: hidden;
  background-color: #080a2f;
}

.upper2 {
  text-align: center;
  padding: 20px;
  background-color: #080a2f;
  color: white;
  font-size: 2.6rem;
}

.middle {
  padding: 20px;
  text-align: center;
}

.middle img {
  width: 30%;
  height: auto;
  display: block;
  margin: 0 auto 20px;
  
}
.mid-photo{
  background: linear-gradient(to right,#77b5ff, #af6ef8);
  border-radius: 20px 70px 20px 70px;
}

.coins {
  position: relative;
}


/* .coin {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10%;
  animation: moveCoins 2s infinite alternate;
}

@keyframes moveCoins {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
} */
/* footer css */
footer {
  background-color:white;
  color:black;
  padding: 20px 0;
  text-align: center;
}

.footer-logo img {
  max-width: 150px;
  margin-bottom: 20px;
}

.footer-subscribe {
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 20px;
  background-color:#f7fad9;
}

.subscribe-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 500;
}

.subscribe-content p {
  margin: 0;
}

.subscribe-content button {
  background-color: #007bff;
  color: #fff;
  border:1px solid black;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 0px 15px 0px 15px;
  height: 60px;
  transition: background-color 0.3s ease;
  font-weight: 600;
}
.subscribe-content button:hover{
  background-color: transparent;
  color: black;
}

.footer-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

.info-column {
  flex: 1;
  margin: 10px;
  min-width: 150px;
  font-size: 22px;
}

.info-column h4 {
  margin-bottom: 10px;
}

.info-column p {
  margin: 5px 0;
}

@media (max-width: 768px) {
  .subscribe-content {
      flex-direction: column;
  }
  
  .subscribe-content button {
      margin-top: 10px;
  }
  
  .footer-info {
      flex-direction: column;
  }
  
  .info-column {
      margin-bottom: 20px;
  }
}